.corpo-calc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 385px;
    height: 710px;
    border-radius: 20px;    
    background-color: black;
}
.corpo-calc table{
    width: 100%;
}

.visor{
    margin-top: 10px;
    width: 90%;
    height: 136px;
    border-radius: 33px;
    font-size: 60px;
    text-align: end;
}
.btn, .btn-span{
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: 0;
    font-size: 33px;
    color: var(--text-color);
    margin: 5px 0;
}
.igualdade{
    width: 257px;
}
.operadores{
    background-color: var(--tertiary-color)
}
.num{
    background-color: var(--primary-color);
}
.atb{
    background-color: var(--secundary-color);
    color: var(--text-color-secundary);
}
tbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
tbody tr{
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.igual{
    gap: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}